main {
  display: grid;
  grid-template-rows: 5fr 2fr;
  padding: 1rem 0;
  overflow: visible;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
}

.box-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-self: center;
  justify-content: center;
}


.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-self: center;
  justify-content: center;
}
