main {
  display: grid;
  grid-template-rows: 4fr 2fr;
  gap: 1rem;
  padding: 1rem 0;
}

.box-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-self: end;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-self: end;
}
