.container {
  background-color: lightgray;
  padding: 1rem;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header, nav, footer, a.logo {
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  padding: 1rem;
}

header {
  margin: 1rem;
}


div.grid-box {
  background-color: lightyellow;
  padding: 1rem;
  min-height: 5rem;
  border: 1px solid black;
}
div.box {
  background-color: lightblue;
  padding: 1rem;
  min-height: 7rem;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
}

.header {
  width: 100%;
}
