main {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
}

nav {
  width: 100%;
}

.box-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.grid-box {
  display: flex;
  width: calc((100% - 12rem)/4);
}

.box-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.box {
  display: flex;
  width: calc((100% - 9rem)/3);
}

