body {
    margin: 0 auto;
    width: 70%;
}

.nav-bar {
    overflow: auto;
    margin: 1rem;
}

.nav-bar .logo {
    float: left;
}

.nav-bar nav {
    margin-top: 25px;
    float: right;
}

.nav-bar nav a {
    margin-left: 2rem;
}

header {
    margin: 1rem;
}

.intro-text {
    margin: 1rem;
}

.box-container {
    margin: 1rem;
    width: 100%;
    overflow: auto;
}

.box {
    float: left;
    box-sizing: border-box;
    margin-right: 1rem;
    width: calc((100% - 4rem) / 3);
}

footer {
    margin: 1rem;
}