main{
  padding: 1rem 0;
  overflow: auto;
}

.header{
  width: 100%;
}

.logo {
  float: left;
}

nav {
  clear: right;
}

.box-grid-container{
  clear: left;
  float: left;
  /*overflow: auto;*/
  width: 100%;
  left: 1rem;
  bottom: 1rem;
}

.grid-box {
  margin: 0.5rem;
  float: left;
  width: calc((100% - 12.5rem)/4);
}

.box-container{
  clear: both;
  overflow: auto;
  width: 100%;
  left: 1rem;
  bottom: 1rem;
}

.box {
  margin: 0.5rem;
  float: left;
  width: calc((100% - 3rem)/3);
  box-sizing: border-box;
}
