main{
  padding: 1rem 0;
  overflow: auto;
  margin-right: 0;
}

.logo {
  float: left;
}

main{
  overflow: hidden;
}

nav {
  clear: right;
}

.box-grid-container{
  clear: left;
  float: left;
  overflow: auto;
  width: calc(100% + 1rem);
}

.grid-box {
  box-sizing: border-box;
  margin-right: 1rem;
  margin-bottom: 1rem;
  /*height: 5rem;*/
  float: left;
  width: calc((100% - 4rem - 8px)/4);
}

.box-container{
  clear: both;
  overflow: hidden;
  width: calc(100% + 1rem);
  margin-left: -1rem;
}

.box {
  box-sizing: border-box;
  margin-left: 1rem;
  float: left;
  width: calc((100% - 3rem - 6px)/3);
}
